* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Noto Sans JP", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

input {
    border: 1px solid #dedfe0;
    margin: 3px;
    border-radius: 10px;
    text-align: center;
    height: 25px;
    width: 200px;
}

textarea {
    margin-bottom: 5px;
    width: 100%;
    border-radius: 5px;
    padding-left: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.loading-big {
    width: 300px;
    height: 300px;
}

/* /////////////////////////////////////////////////////////////////////////// */
/* //REGISTER */
.register-container {
    /* border: 8px solid black; */
    background-color: white;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;
}

.simplenetwork {
    font-size: 70px;
    font-size: bold;
    margin-top: 25px;
    margin-bottom: 25px;
}
.treelogocontainer {
    height: 180px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}
.treelogo {
    width: 120px;

    object-fit: contain;
}
.container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputs {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-button {
    border: 0px solid #dedfe0;
    margin: 3px;
    border-radius: 10px;
    text-align: center;
    height: 25px;
    background: black;
    color: white;
    width: 200px;
}

.register-button a {
    color: white;
    font-size: 14px;
}

.loginlink {
    margin-top: 5px;
    font-size: 12px;
}

@media (max-width: 600px) {
    .simplenetwork {
        font-size: 51px;
        margin-bottom: 10px;
    }
}

@media (max-width: 500px) {
    .simplenetwork {
        font-size: 50px;
    }
}

@media (max-width: 400px) {
    .simplenetwork {
        font-size: 37px;
    }
}

@media (max-width: 300px) {
    .simplenetwork {
        font-size: 35px;
    }
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* //RESET */
.resettext {
    /* color: black; */
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.resetinputs {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    height: 100%;
}

.link {
    justify-content: center;
    align-items: center;
}
/* //////////////////////////////////////////////////////////////////////////////// */
/* //LOGIN */
.links {
    text-align: center;
}
/* //////////////////////////////////////////////////////////////////////////////// */
/* //LOGGED IN */

.header {
    display: flex;

    width: 100%;
    justify-content: space-between;

    padding-left: 20px;

    border-bottom: 1px solid #dedfe0;
    margin-top: 5px;
}
.inheaderl {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    height: 100%;
    width: 55px;
    margin-left: 20px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
}

.smalltreelogo {
    height: 35px;
    object-fit: contain;
    margin-bottom: 5px;
}

.smallwetreenow {
    display: flex;
    align-items: center;

    font-size: 20px;
}

.header-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-icon {
    width: 35px;
    margin: 15px;
}

.profilepic-container {
    overflow: hidden;
    border-radius: 50px;

    width: 40px;
    height: 40px;
    margin-bottom: 6px;
}

.profilepic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0px;
    padding: 0px;
}

.ahref {
    color: #222;
    text-decoration: none;
}

.nameheader {
    height: 100%;
    font-weight: bold;
    margin-right: 7px;
    padding-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameheader a {
    margin-bottom: 8px;
}

@media (max-width: 500px) {
    .header-icon {
        width: 25px;
    }

    .flex {
        margin: 5px;
    }
    .header-icon {
        margin: 5px;
    }
}

@media (max-width: 400px) {
    .smalltreelogo {
        height: 30px;
    }
    .header-icons-container {
        justify-content: flex-end;
        margin-right: 5px;
    }
    .display {
        display: none;
    }

    .header-icon {
        margin: 10px;
    }

    .flex {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.firstlastheader {
    width: 65px;
    height: 60%;
    /* color: #8cc63e; */
    color: #222;
    font-weight: bold;
    margin-right: 7px;
    padding-right: 7px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-right: 2px solid #8cc63e;
    border-right: 2px solid #dedfe0;
    font-family: Segoe UI;
}

.logout {
    width: 65px;
    height: 60%;
    /* color: #8cc63e; */
    color: #222;
    font-weight: bold;
    margin-right: 7px;
    padding-right: 7px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Segoe UI;
}

.dropdown-menu {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 150px;
    z-index: 30;
    top: 50px;
    right: 10px;
    border: 8px solid none;

    -webkit-box-shadow: 0px 0px 47px -28px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 47px -28px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 47px -28px rgba(0, 0, 0, 0.75);
}

.dropdown-menu a:hover {
    background-color: #8cc63e;
    color: white;
}

.dropdown-menu a {
    text-decoration: none;
    width: 100%;
    height: 50px;
    display: flex;

    justify-content: center;
    align-items: center;

    color: black;
}

.pureflex:hover .dropdown-menu {
    display: flex;
}

.pureflex:hover .arrcontainer {
    background-color: transparent;
}

.pureflex {
    display: flex;

    position: relative;

    height: 100%;
}

.arrcontainer {
    display: flex;

    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40px;
}

.arrdown {
    margin-top: 5px;
    width: 10px;

    cursor: pointer;
}

.justflex {
    display: flex;

    align-items: center;
    justify-content: center;
    height: 100%;
}
.biography {
    width: 20px;
    margin-right: 5px;
}
.biocontainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.biotextcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.mybio {
    width: 100%;

    font-weight: bold;
}

.biotext {
    display: flex;
    width: 100%;

    word-wrap: break-word;
}
.editbiocontainer {
    display: flex;
    width: 90%;

    flex-direction: column;
}

.bio {
    width: 100%;
    margin-top: 10px;
    display: flex;
}

.editcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    text-align: center;
}

.edit {
    margin-top: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 13px;
}

.flexfullcolumn {
    display: flex;
    width: 100%;
    min-height: 30px;

    justify-content: center;
}
/* //////////////////////////////////////////////////////////////////////////////// */
/* PROFILE */
.bioinput {
    display: flex;
    width: 100%;
    height: 150px;
}

.addbio {
    display: flex;

    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
}

.underheader {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    align-items: flex-start;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}

.profile {
    display: flex;
    height: 100%;

    width: 100%;
}

.picfirstlast {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;

    background-color: white;

    margin-top: 60px;

    padding-bottom: 5px;
}

.flexpicprofile {
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.profilepicbig {
    width: 100%;
    height: 100%;
    background-color: white;
    object-fit: cover;

    cursor: pointer;
}

.firstlastunderheader {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    background-color: white;

    width: 100%;
    height: 50px;
}

.flexpic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}
/* ///////////////////////////////////////////////////////////////////////////////// */
/* UPLOADER  */
.uploader {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;

    top: 0;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.uploader-container {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    background-color: white;

    margin-top: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upload-text {
    text-align: center;
    margin-bottom: 10px;
}
/* //////////// */
/* Upload button */
.upload-btn-wrapper {
    position: relative;

    display: inline-block;
}

.btn {
    border: 0px solid #dedfe0;
    margin: 3px;
    border-radius: 10px;
    text-align: center;
    height: 25px;
    background: black;
    color: white;
    width: 200px;
}

.upload-btn-wrapper input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

/*XXXXX //////////////// */
.close {
    top: 40px;
    left: 135px;

    position: absolute;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.x {
    position: relative;
    display: flex;
    width: 35px;
    height: 35px;
}

.close:hover {
    opacity: 1;
}
.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: white;
}
.close:before {
    transform: rotate(-45deg);
}
.close:after {
    transform: rotate(45deg);
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* OTHER PROFILE */
.doesntexist {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;

    font-size: 50px;
    text-align: center;
}

.friend-button {
    background-color: black;
    border: 0px solid transparent;
    color: white;
    border-radius: 15px;
    font-size: 10px;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 5px;
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* //ALL USERS */

.usersmaincontainer {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    flex-direction: column;
    min-height: 90vh;
}
.usersinput {
    width: 150px;
    margin-top: 28px;
}
.lastadded {
    display: flex;
    margin-top: 7px;
    font-size: 15px;
    width: 100%;
    height: 25px;

    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.userscontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 705px;
}

.usersmallbox {
    width: 204px;
    height: 237px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}

.userpicture-container {
    width: 180px;
    height: 180px;
    border-radius: 150px;
    overflow: hidden;
}

.userpicture {
    width: 100%;
    height: 100%;
    background-color: white;
    object-fit: cover;
}

.usersfirstlast {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px;
    font-weight: bold;
    margin-top: 10px;
    background-color: white;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* FRIENDS */
.friendscontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.friends {
    width: 805px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.infriends {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    background-color: white;
}

@media (max-width: 800px) {
    .friends {
        width: 100%;
    }

    .userscontainer {
        width: 100%;
    }

    .infriends {
        width: 100%;
    }
}

.wonnabes {
    background-color: #8cc63e1f;
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    background-color: ;
}

.friendsmallbox {
    width: 110px;
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}

.userpicturetwo-container {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 150px;
}

.userpicturetwo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.friendsfirstlast {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 27px;
    font-weight: bold;
    background-color: white;
    font-size: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 90px;
}

.friendbutton {
    height: 20px;
    width: 50px;
    background: black;
    color: white;
    border: 0px solid transparent;
    display: inline-block;
    border-radius: 15px;
    margin: 2px;
    font-size: 8px;
}

/* ////////////////////////////////////////////////////////////// */
/* ONLINE USERS */
.chat-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.online-header {
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 13px;
}

.wrapper {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.onlineusers-container {
    width: 100%;
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
}

.onlineusers-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */

.onlineuser {
    display: inline-block;

    width: 70px;
    height: 70px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    position: relative;
}

.onlinepicturewrapper {
    width: 60px;
    height: 60px;
    border-radius: 150px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.onlinepicture {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.online-dot {
    width: 10px;
    height: 10px;
    border-radius: 150px;
    bottom: 5px;
    left: 11px;
    background: green;
    z-index: 100px;
    position: absolute;
}

.onlinefirstlast {
    font-size: 13px;
    font-weight: bold;
}

.textinchat {
    width: 100%;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    flex-direction: column;
}

/* //////////////////////////////////////////////// */
/* CHAT */

.bigchatcontainer {
    display: flex;
    width: 100%;

    flex-direction: column;
    background-color: white;
    margin: 5px;
    align-items: center;
    justify-content: center;
}

.chat-wrapper {
    width: 600px;
    height: 52vh;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chat-wrapper::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.chat-wrapper {
    -ms-overflow-style: none;
}

.messagecontainer {
    background: aqamarine;

    width: 100%;
    display: inline-flex;
    margin-bottom: 10px;
    padding-left: 5px;
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
    text-align: right;
}

.margin-left {
    margin-left: 10px;
    margin-right: 5px;
}

.chatpicture {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 2px solid green;
}
.containerchatpicture {
    display: flex;
    border: 1px solid black;
}

.firstlastinchat {
    font-weight: bold;
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    width: 100%;
}

.firstlast {
    font-weight: bold;
    margin-right: 10px;

    font-size: 13px;

    display: inline-block;
}

.date {
    font-size: 9px;
}

.textchatwrapper {
    display: inline-block;
    max-width: 75%;
}

.textcontainerinchat {
    border: 1px solid grey;
    border-radius: 15px;
    width: 100%;
    flex-direction: column;
    align-items: center;

    margin-left: 5px;
    display: inline-block;
}

.textarea-div {
    width: 70%;
    align-items: center;
    justify-content: center;

    padding-left: 5px;
    padding-right: 5px;
}

@media (max-width: 800px) {
    .wrapper {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .wrapper {
        width: 100%;
    }

    .chat-wrapper {
        width: 100%;
    }
}
